* {
	font-size: 1.5em;
}


p.c11 {
	
	color: black;
	text-shadow: silver 2px 2px 2px;
}

p.c12 {
	color: white;
	text-shadow: 0 0 4px black;
}



p.c13 {
	color: black;
	text-shadow:  -1em -1em red;
}
p.c14 {
	color: black;
	text-shadow: 1em 1em 5px gray;
}
strong {
	
	color: gray;

	
}